body{
	font-family: verdana, tahoma;
	font-size: 12px;
	color: #593e74;
}

.page_cont{
	margin: auto;
	width: 80%;
}

.gistify_conversation_cont{
	width: 50%;
	float: left;
	margin: 15px;
}

.gistify_table{
	/*width: 800px;*/
	border-collapse: collapse; 
	border-spacing: 0;
	color: #593e74;
}

.gistify_tbl_space{
	height: 10px;
}

.intent_img{
	width: 36px;
	height: 36px;
}

.h_border{
	border-bottom: 1px solid #593e74;
}

.gistify_sub_header_cont{
	text-align: center;
	font-size: large;
}

.gistify_sub_header_content{
	width: 20%;
	text-align: left;
	word-wrap: break-word;
	color: #593e74;
}

.gistify_read_more{
	text-align: right;
	font-weight: bold;
	vertical-align: bottom;
	height: 15px;
}

.gistify_read_more_label{
	margin: 5px;
	padding: 5px;
	cursor: pointer;
	color: #593e74;
}

.gistify_text{
	color: #593e74;
}

.gistify_sub_header{
	font-size: 14px;
	font-weight: bold;
}

.chat_gistify_timeline_view{
	display: none;
}

.chat_widget_container{
	/*width: 500px;
	max-height: 700px;
	height: 700px;*/
	width: 40%;
	border: 1px solid #cccccc;
	background-color: #cccccc;
	box-shadow: 5px 5px 5px 5px #ececec;
	float: left;
	padding: 10px;
	overflow: auto;
}

.chat_conversation_left{
	float: left;
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.chat_conversation_right{
	float: right;
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.internal_content_cont{
	float: left;
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	display: none;
}

.internal_content{
	padding: 10px;
	margin-right: 15px;
	margin-left: 5px;
	background-color: #ffd9b3;
}

.img_round_64{
	width: 64px;
	height: 64px;
	border-radius: 32px;
}

.conversation_table{
	width: 95%;
	border-collapse: collapse; 
	border-spacing: 0;
}

.conversation_cont_left{
	padding: 10px;
	background-color: #FFF;
	border-radius: 0px 15px 0px 15px;
}

.conversation_cont_right{
	padding: 10px;
	background-color: #c6d9ec;
	border-radius: 15px 0px 15px 0px;
}

.l_float{
	float: left;
}

.r_float{
	float: right;
}

.chat_img_cont{
	width: 64px;
}

.conv_indicator_left{
	width: 16px;
	height: 16px;
	transform: rotate(270deg);	
}

.conv_indicator_right{
	width: 16px;
	height: 16px;
	transform: rotate(180deg);
}

.conv_indicator_cont_left{
	vertical-align: top;
	padding: 0px;
	margin-top: -4px;
	margin-left: -12px;
	width: 12px;
}

.conv_indicator_cont_right{
	vertical-align: top;
	padding: 0px;
	margin-top: -4px;
	margin-left: -5px;
	width: 1px;
}

.spacing_0{
	border-spacing: 0;
	border-collapse: collapse; 
	padding: 0px 0px 0px 0px;
}

table.spacing_0 td{
	padding: 0px 0px 0px 0px;
}

.timeline_center_line{
	height: 30px;
	overflow: hidden;
}

.timeline_center_circle{
	border: 1px solid #000000;
	border-radius: 10px;
	height: 10px;
	width: 10px;
}

.timeline_cust_conv_cont{
	float: left;
	cursor: pointer;
	text-align: left;
	/*width: 300px;*/
}

.timeline_agent_conv_cont{
	float: right;
	cursor: pointer;
	text-align: right;
	/*width: 300px;*/
}

.v_top{
	vertical-align: top;
}

.v_bottom{
	vertical-align: bottom;
}

.timeline_tbl{
	color: #593e74;
}

.timeline_conv_tbl{
	width: 100%;
}

.timeline_conv_td_subject{
	color: #CE7E57;
	border-bottom: 1px solid #593e74;
	border-width: thin;
	height: 31px;
	font-style: italic;
	font-size:14px;
}

.sentiment_img_cont{
	height: 27px;
}

.sentiment_emoji{
	width: 25px;
	height: 25px;
}

.timeline_overlay_cont{
	padding: 10px;
	margin-right: 15px;
	margin-left: 5px;
	margin-top: -20px;
	background-color: #ffd9b3;
	position: absolute;
	cursor: pointer;
	display: none;
	text-align: left;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #FFA500;
}

.button3:hover {
  background-color: #FFA500;
  color: white;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}